body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('background.jpg'); /* 替换为你的背景图片路径 */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat; 
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map-container {
    padding-top: 300px;
    /* padding-left: 200px; */
    width: 2754px;
    height: 1398px;
    position: relative;
    z-index: 2;
}

#svg-map{
    margin-top:0px;
    margin-left:0px;
    width: 2754px;
    height: 1398px;
 
}
#svgElement {
    width: 2754px;
    height: 1398px;
    position: absolute;
    z-index: 3;
    top: 300px;
    /* left: 200px; */
    pointer-events: none;
   
}
