:root {
    --padding-top: 300px; /*修改地图上下位置*/
    --padding-left: 0x; /*修改地图左右位置*/
    --background: url('background2.jpg'); /*修改背景图片路径*/
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: var(--background); /* 替换为你的背景图片路径 */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat; 
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map-container {
    padding-top: var(--padding-top);
    padding-left: var(--padding-left);
    width: 2754px;
    height: 1398px;
    position: relative;
    z-index: 2;
}

#svgElement {
    width: 2754px;
    height: 1398px;
    position: absolute;
    z-index: 3;
    top: var(--padding-top);
    left: var(--padding-left);
}

#svg-map{
    margin-top:0px;
    margin-left:0px;
    width: 2754px;
    height: 1398px;
}
